<div class="navbar12">
    <header class="blog-header my-3">

        <div class="col-12 text-center">
            <a class="blog-header-logo text-dark" href="{{ site.baseurl | prepend: site.url}}/">{{ site.title }}</a>
        </div>
        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-center">
                <a class="p-3 text-uppercase text-muted small"
                   href="{{ site.baseurl | prepend: site.url}}/projects.html">Portfolio</a>
                <a class="p-3 text-uppercase text-muted small"
                   href="{{ site.baseurl | prepend: site.url}}/services.html">Usługi</a>
                <a class="p-3 text-uppercase text-muted small"
                   href="{{ site.baseurl | prepend: site.url}}/contact.html">Kontakt</a>
            </nav>
        </div>
    </header>
</div>
