<div class="align-content-center sticky-top navigation">
    <header class="blog-header p-3">
        <div class="text-center">
            <a class="blog-header-logo text-dark" href="{{ site.baseurl | prepend: site.url}}/">{{ site.title }}</a>
        </div>
        <div class="nav-scroller py-1">
            <nav class="nav d-flex justify-content-center">
                <a class="p-3 text-uppercase text-muted small"
                   href="{{ site.baseurl | prepend: site.url}}/projects.html">Portfolio</a>
                <a class="p-3 text-uppercase text-muted small"
                   href="{{ site.baseurl | prepend: site.url}}/services.html">Usługi</a>
                <a class="p-3 text-uppercase text-muted small"
                   href="{{ site.baseurl | prepend: site.url}}/contact.html">Kontakt</a>
            </nav>
        </div>
    </header>
</div>

