<div class="align-content-center sticky-top navigation">
    <header class="blog-header p-2">
        <div class="text-center">
            <div class="text-right text-muted">
                {% for lang in site.languages %}
                {% if forloop.index0 == 0 %}
                <a class="text-reset text-decoration-none" href="{{ page.url }}">{{ lang }}</a>
                {% else %}
                |<a class="text-reset text-decoration-none" href="/{{ lang }}{{ page.url }}">{{ lang }}</a>
                {% endif %}
                {% endfor %}
            </div>
            <a class="blog-header-logo text-dark" href="{{ site.baseurl | prepend: site.url}}/">{{ site.title }}</a>
        </div>
        <div class="nav-scroller">
            <nav class="nav d-flex justify-content-center">
                <a class="p-3 text-uppercase text-muted small"
                   href="{{ site.baseurl | prepend: site.url}}/">
                    Home
                </a>
                <a class="p-3 text-uppercase text-muted small"
                   href="{{ site.baseurl | prepend: site.url}}/services.html">
                    {% t navbar.offer %}
                </a>
                <a class="p-3 text-uppercase text-muted small"
                   href="{{ site.baseurl | prepend: site.url}}/projects.html">
                    Portfolio
                </a>
                <a class="p-3 text-uppercase text-muted small"
                   href="{{ site.baseurl | prepend: site.url}}/contact.html">
                    {% t navbar.contact %}
                </a>
            </nav>
        </div>
    </header>
</div>