{% assign posts = include.items | reverse %}
{% for item in posts %}
<div class="gallery">
    <div class="card p-5 border-0">
        <div class="row">
            <div class="col-md-4">
                <a class="text-decoration-none text-reset text-right" href="{{ site.baseurl | prepend: site.url}}/{{item.url}}">
                    <h5>{{ item.title }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                </a>
            </div>
            <div class="col-md-8">
                <a href="{{ site.baseurl | prepend: site.url}}/{{item.url}}">
                    <img src="{{ site.baseurl | prepend: site.url}}/{{item.image}}"
                         class="w-100"
                         alt="{{item.title}}"
                         loading="lazy"
                         decoding="async"
                    />
                </a>
            </div>
        </div>
    </div>
</div>
{% endfor %}