---
layout: default
---
<div class="row p-5">
    <div class="col-lg">
        <div>Ewelina Machnik</div>
        <div>Tel: (+48) 515 407 521</div>
        <div><a href="mailto:biuro@macdesign.com.pl">biuro@macdesign.com.pl</a></div>
        <div>NIP: 817-220-09-01</div>
        <div>REGON: 389093721</div>
        <div class="text-muted pt-5">
            <div>Realizujemy projekty na terenie Podkarpacia oraz Małopolski.</div>
            <div>Sposób współpracy dogodny dla Ciebie. Wybierz formę stacjonarną lub online.</div>
        </div>
    </div>
</div>
