---
layout: default
---
<div>
    <div class="row p-5">
        <div class="col-lg-3">
            <div class="text-uppercase text-right">
                <div class="text-muted">
                    Projekt
                </div>
                <h4>{{ page.additionalDescription }}</h4>
            </div>
        </div>
        <div class="col-lg-9">
            {% for image in page.images %}
            <div class="row block mx-w-75">
                <a href="{{ site.baseurl | prepend: site.url}}/assets/images/{{image}}" data-lightbox="lightbox"
                   data-gallery="example-gallery" class="p-2">
                    <img src="{{ site.baseurl | prepend: site.url}}/assets/images/{{image}}"
                         loading="lazy"
                         class="img-fluid"
                         alt=""
                         decoding="async"
                    />
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>