---
layout: default
---
<section class="row p-5">
    <div class="container">
        <p>Każdy projekt wykonawczy zawiera:</p>
        <ul>
            <li>Inwentaryzacja stanu istniejącego</li>
            <li>Badanie potrzeb inwestora</li>
            <li>2-3 koncepcje układu funkcjonalnego</li>
            <li>Dokumentacja fotograficzna</li>
            <li>Kompleksowe zestawienie rysunków technicznych w tym:
                <ul>
                    <li>
                        Projekt oświetlenia (rozmieszczenie gniazd, punktów elektrycznych, włączników itp)
                    </li>
                    <li>Rozmieszczenie punktów wod-kan</li>
                    <li>Rzut ścian wyburzanych i projektowanych</li>
                    <li>Widoki i przekroje ścian z kompleksowym wyposażeniem, kolorystyką i doborem materiałów</li>
                    <li>Rzut podłóg</li>
                    <li>Projekt łazienki</li>
                    <li>Projekt kuchni</li>
                    <li>Rysunki wykonawcze mebli na wymiar</li>
                    <li>Inne rysunki techniczne potrzebne do przedstawienia projektu</li>
                    <li>Kompletne zestawienie materiałowe, ilościowe, produenci i dostawcy, cena orientacyjna (wg. aktualnych cenników)</li>
                    <li>Wizualizacje wnętrz wybranych pomieszczeń wg. ostatecznych ustaleń z Inwestorem</li>
                </ul>
            </li>
        </ul>
        <p><b>Nadzór inwestycji – wg osobnej wyceny.</b></p>
    </div>
</section>
