---
layout: default
---
<div class="p-5">
    <div class="gallery  p-3">
        <p>{% t offer.main %}</p>
    </div>
    <a id="basic" class="anchor"></a>
    <div class="gallery  p-3">
        <a href="#basic" class="text-decoration-none text-reset">
            <h5>{% t offer.basicTitle %}</h5>
        </a>
        <p>{% t offer.basicDesc %}</p>
        <ol class="text-muted">
            <li>{% t offer.analysis %}</li>
            <li>{% t offer.stocktaking %}</li>
            <li>{% t offer.functionalLayout %}</li>
            <li>{% t offer.moodBoard %}</li>
        </ol>
    </div>
    <a id="advanced" class="anchor"></a>
    <div class="gallery  p-3">
        <a href="#advanced" class="text-decoration-none text-reset">
            <h5>{% t offer.advanced %}</h5>
        </a>
        <p>{% t offer.advancedDesc %}</p>
        <p>{% t offer.include %} <span class="font-weight-bold">{% t offer.basicTitle %}</span> {% t offer.increasedOf %}</p>
        <ol class="text-muted">
            <li>{% t offer.materialsSelection %}</li>
            <li>
                {% t offer.technicalDraw %}
                <ul>
                    <li>{% t offer.functionalSystem %}</li>
                    <li>{% t offer.wallPlan %}</li>
                    <li>{% t offer.floorPlan %}</li>
                    <li>{% t offer.droppedCeiling %}</li>
                    <li>{% t offer.electricSockets %}</li>
                    <li>{% t offer.heatingPlan %}</li>
                    <li>{% t offer.wallsView %}</li>
                    <li>{% t offer.furnitureDocumentation %}</li>
                    <li>{% t offer.materialsSelectionPlan %}</li>
                </ul>
            </li>
        </ol>
    </div>
    <a id="advanced_plus" class="anchor"></a>
    <div class="gallery  p-3">
        <a href="#advanced_plus" class="text-decoration-none text-reset">
            <h5>{% t offer.advancedPlus %}</h5>
        </a>
        <p>{% t offer.advancedPlusDesc %}</p>
        <p>{% t offer.include %} <span class="font-weight-bold">{% t offer.advanced %}</span> {% t offer.increasedOf %}</p>
        <ol class="text-muted">
            <li>{% t offer.scheme %}</li>
            <li>{% t offer.materialsWithContractors %}</li>
            <li>{% t offer.transport %}</li>
            <li>{% t offer.control %}</li>
            <li>{% t offer.constructionDriver %}</li>
            <li>{% t offer.assuranceOfSchedule %}</li>
            <li>{% t offer.qualityAssurance %}</li>
            <li>{% t offer.cleaning %}</li>
            <li>{% t offer.photoShooting %}</li>
        </ol>
    </div>
</div>
