---
layout: default
---
<div class="p-5">
    <div class="gallery row p-3">
        <p>
            Zajmujemy się projektowaniem wnętrz domów i mieszkań.
            Projektujemy wnętrza eklektyczne, nie chowamy się za jednym stylem projektowym. Są to wnętrza
            dopasowane do Ciebie i Twoich potrzeb. Łączymy to co piękne z funkcjonalną formą.
            Odpowiednio dla Twoich potrzeb, stworzyliśmy trzy możliwości współpracy.
        </p>
    </div>
    <a id="basic" class="anchor"></a>
    <div class="gallery row p-3">
        <a href="#basic" class="text-decoration-none text-reset"><h5>Projekt BASIC</h5></a>
        <p>
            Opcja ta jest skierowany do osób o wysokim poczuciu estetycznym, które nie potrzebują pełnego
            projektu a jedynie wytycznych w postaci układu funkcjonalnego oraz ogólnych założeń estetycznych.
        </p>
        <ol class="text-muted">
            <li>analiza potrzeb klienta</li>
            <li>inwentaryzacja wnętrza – dokładny pomiar stanu istniejącego</li>
            <li>układ funkcjonalny w formie rzutów 2D</li>
            <li>MOODBOARD – założenia kolorystyczne i estetyczne</li>
        </ol>
    </div>
    <a id="advanced" class="anchor"></a>
    <div class="gallery row p-3">
        <a href="#advanced" class="text-decoration-none text-reset"><h5>Projekt ADVANCED</h5></a>
        <p>
            Dla osób, które potrzebują pełnego projektu, aby nie tracić czasu na samodzielny wybór
            materiałów,
            chcą mieć pełny projekt, aby nie stresować się koniecznością wyboru poszczególnych elementów i
            chcą
            zaoszczędzić czas.
        </p>
        <p>W ofercie projektu projekt <span class="font-weight-bold">BASIC</span> powiększony o:</p>
        <ol class="text-muted">
            <li>wspólny dobór materiałów do wnętrza</li>
            <li>
                rysunki techniczne w tym:
                <ul>
                    <li>inwentaryzacja</li>
                    <li>układ funkcjonalny</li>
                    <li>układ ścian</li>
                    <li>układ podłóg</li>
                    <li>układ sufitów podwieszanych</li>
                    <li>rozmieszczenie punktów elektrycznych</li>
                    <li>rozmieszczenie przyłączy wod.-kan. oraz instalacji ogrzewania</li>
                    <li>rzuty widoków ścian</li>
                    <li>przygotowanie dokumentacji dla mebli robionych na zamowienie</li>
                    <li>
                        zestawienie materiałowe dla elementów wyposażenia wraz z ilościami,
                        adresem sklepów lub adresem strony internetowej orac ceny.
                    </li>
                </ul>
            </li>
        </ol>
    </div>
    <a id="advanced_plus" class="anchor"></a>
    <div class="gallery row p-3">
        <a href="#advanced_plus" class="text-decoration-none text-reset"><h5>Projekt ADVANCED PLUS</h5></a>
        <p>
            Jeśli kupiłeś mieszkanie na wynajem lub jeśli jesteś osobą zabieganą i nie masz czasu na nadzór nad wykonawcami.
            Kupiłeś mieszkanie w innym mieście niż mieszkasz lub jesteś obcokrajowcem i nie masz możliwości czy wiedzy o procesie projektowania i nadzoru.
            Jeśli chcesz oszczędzić sobie stresu i czasu wybierz tą opcję!
        </p>
        <p>W ofercie projektu projekt <span class="font-weight-bold">ADVANCED</span> powiększony o:</p>
        <ol class="text-muted">
            <li>harmonogram oraz kosztorys prac i materiałów budowlanych</li>
            <li>przygotowanie zamówień produktów i usług podwykonawców</li>
            <li>organizowanie płatności i transportu</li>
            <li>ustalenie i kontrona harmonogramu pracy na budowie</li>
            <li>omówienie rozwiązań technicznych z podwykonawcami</li>
            <li>koordynacja prac wykonawców</li>
            <li>odbiór prac wykonawców</li>
            <li>
                przygotowanie inwestycji do odbioru przez klienta, w tym gruntowne sprzątanie po remoncie,
                zakup
                dekoracji, na życzenie klienta zakup wyposażenia
            </li>
            <li>profesjonalna sesja zdjęciowa Twojego Wnętrza!</li>
        </ol>
    </div>
</div>
